body{
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}

input{
  padding: 5px 0;
  margin: 10px;
}

select{
  padding: 5px 0;
}

#btn{
  background-color: #f67878;
  border: none;
  padding: 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
}

table{
  margin: 50px auto;
}